/* src/App.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.game {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: lightblue;
}

.tokens {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
}

.rocket-launcher {
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 60px;
  height: 120px;
  background: gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rocket-launcher::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 60px solid gray;
  position: absolute;
  bottom: 100%;
}

.rocket {
  position: absolute;
  bottom: 10px;
  width: 30px;
  height: 30px;
  font-size: 24px;
  transition: transform 0.1s;
}

.land {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: green;
}

.target {
  position: absolute;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
}

.target1 {
  right: 200px;
  bottom: 100px;
}

.target2 {
  right: 100px;
  bottom: 150px;
}

.controls {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 10px;
}

.hold-bar {
  width: 200px;
  height: 20px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #000;
}

.hold-duration {
  height: 100%;
  background: green;
  transition: width 0.1s;
}
